__pycache__/
tmp/
tmptmp/
result_tmp/

models/
test_input_dataset/
test_result_img/
training_input_dataset/
training_result_img/

inference/
model_mask-rcnn/
test_dataset/
training_dataset/
*.txt
*.json